/* CSS style file for https://mcflynto.github.io */
body {
  margin: 0;
  padding: 0;
  background-color: white;
}

/* container setup (centering) */

.container {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* box & content styling */
.box {
  background-color: #333538;
  color: white;
  padding: 10px;
  border: 8px solid white;
}

.header {
  box-sizing: border-box;
  width: 100%;
  height: 15vh;
  max-width: 1300px;

  position: fixed;

  z-index: 300;

  font-family: 'Roboto Mono', monospace;
  font-size: 1.2em;
  line-height: 1em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.leftheader .rightheader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titletwo {
  font-size: 0.8em;
}

@media screen and (max-height: 400px) {
  .header {
    font-size: 1em;
  }
  .titletwo {
    font-size: 0.8em;
  }
}

.contentcontainer {
  box-sizing: border-box;
  width: 100%;
  max-width: 1300px;

  position: relative;
  top: 15vh;

  border-top: none;

  font-family: 'Roboto', sans-serif;
  font-size: 1em;

  display: flex;
  flex-direction: column;
}

/* Landing Page / Presentation */
.Vorstellung {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoimg img {
  width: 8em;
  border-radius: 45%;
}

.infoimg {
  margin: 20px 0 20px 0;
}

.infotext {
  text-align: center;
}

.hey {
  margin-bottom: 10px;
}

.desctext {
  margin-bottom: 10px;
}

.worktext p {
    display: inline;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -moz-margin-start: 0;
    -moz-margin-end: 0;

    color: #42f492;
}

.blink_me {
  animation: blinker 1s steps(1) infinite;
}

@keyframes blinker {
  50% { opacity: 1; }
  0% { opacity: 0; }
}

.worktext {
  margin-bottom: 10px;
}

/* Footer */

.footer {
  box-sizing: border-box;
  width: 100%;
  max-width: 1300px;

  position: relative;
  top: 15vh;

  border-top: none;

  font-family: 'Roboto', sans-serif;
  font-size: 0.7em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer i {
  color: white;
  font-size: 1.8em;
  letter-spacing: 3px;
}

/* Responsive Menu */
.menuresponsive {
  display: none;
  position: absolute;
  top: 8px;
  right: 8px;
  height: auto;
  width: 200px;
  background-color: rgb(57, 95, 155);
  background-color: rgba(57, 95, 155, 0.9);
  padding: 20px 10px;
  z-index: 400;
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
}

.menuresponsive a {
  display: block;
  text-align: left;
  color: #FFFCEF;
  padding: 20px;
  text-decoration: none;
  font-size: 16px;
}

.icon {
  display: block;

  color: #FFFCEF;

  padding: 2px;
  text-decoration: none;
  font-size: 26px;
  z-index: 500;
}

.icon.responsive {
  color: rgb(51, 53, 56);
}
.menuresponsive.responsive {
  display: block;
}
.menuresponsive.responsive a:hover {
  background-color: rgb(51, 53, 56);
  background-color: rgba(51, 53, 56, 0.8)
}

/* Projects */

/* Code */

/* Contact */
.Contact {
  text-align: center;
}

.Contact a {
  text-decoration: none;
  color: #F9EFC9;
}

.Contact a:hover {
  color: #42f492;
}