/* CSS style file for https://mcflynto.github.io */
body {
  margin: 0;
  padding: 0;
}

.fallback {
  display: none;
}

.header {
  grid-area: header;
}

.menu {
  grid-area: menu;
}

.content {
  grid-area: content;
}

.container {
  position: fixed;
  margin: 10px;
  height: calc(100% - 40px);
  width: calc(100% - 40px);

  display: grid;
  grid-template-columns: 40% 40% 20%;
  grid-template-rows: 20% 40% 40%;
  grid-template-areas:
  "header header menu"
  "content content menu"
  "content content menu";

  grid-gap: 10px;
}

.box {
  box-sizing: border-box;
  background-color: #333538;
  color: white;
  font-size: 150%;
  padding: 10px;
}
